.form--title {
    font-size: 7rem;
    text-align: center;
}

.form--login{
    color: #4F4140;
}


.container--login {
    display: flex;
    justify-content: center;

}

.login {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form-control {
   display: flex;
   flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 26em;

}

.form--login > .login > input[type="email"],
.form--login > .login > input[type="password"],
.form--login > .login > input[type="text"], 
.form--login > .login > input[type="tel"] {
    width: 25em;
}

input {
    margin-left: auto;
    margin-right: auto;
}

.signIn--register {
    display: flex;
    text-align: end;
    border: none;
}

.register-button {
    display: flex;
    justify-content: center;
}